<div id="footerNew" class ="v4-step-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="widget widget_links clearfix">
                	<h3>Our company</h3>
	                 <ul>
						              <li><a class="pointer">Management Team</a></li>
		                <li><a class="pointer">Branch Office Network</a></li>
		                <li><a class="pointer">Worldwide Network</a></li>
		                <li><a class="pointer">Financial Information</a></li>
					             </ul>
				         </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 v3-column-content">
				<div class="widget widget_links clearfix">
                	<h3>Find a product</h3>
	                <ul>
						<li><a class="pointer">Marine Insurance</a></li>
		                <li><a class="pointer">Engineering Insurance</a></li>
		                <li><a class="pointer">Medical Insurance</a></li>
		                <li><a class="pointer">Motor Insurance</a></li>
					</ul>
				</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 v3-column-content">
                <h3>Platform</h3>
                <div>
					<!-- <div><img class="platform-icon" ng-src="./images/common/google_play.png"></div>
					<div><img class="platform-icon" ng-src="./images/common/app_store.png"></div>
					<div><img class="platform-icon" ng-src="./images/common/button_windows_store.png"></div> -->
				</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 v3-column-content">
                <h3>Hotline: <i class="fa fa-phone"></i> 1900 1560</h3>
				<div style="margin-top: 15px;">
					<h5>Registeremailfornewsletter</h5>

	                <div class="input-group">
					  <span class="input-group-addon input-icon-left"><i class="fa fa-paper-plane"></i></span>
					  <input type="text" class="form-control input-icon-middle" placeholder="Enter your email">
					  <span class="input-group-addon input-icon-right">Register</span>
					</div>
				</div>

				<h5>Connecttosocial</h5>
				<div class="component" style="width:110%">
				  <a href="#" class="icon icon-mono facebook">facebook</a>
				  <a href="#" class="icon icon-mono twitter">twitter</a>
				  <a href="#" class="icon icon-mono googleplus">google+</a>
				  <a href="#" class="icon icon-mono github">github</a>
				  <a href="#" class="icon icon-mono rss">rss</a>
				</div>
            </div>
        </div>
    </div>
    <!-- Copyrights -->
	<div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
            	<div class="text-center">
                	&copy; 2017 CSC All rights reserved. CSC Terms of Use and Privacy Policy.
            	</div>
            	<!-- <div class="pull-right" ng-include src="contextVersionURL"></div> -->
            </div>
    	</div>
    </div>
    <!-- #copyrights end -->
</div>
