/* ---------- Footer ---------- */
.v4-step-footer{
	position: relative;
    width: 100%;
    margin-left: 0px;
    z-index: 7;
    bottom: 0px;
    top: 10px;
}

#footerNew{
	background-color: #e0af38;
    color: #ffffff;
}
#footerNew .input-icon-left{
	background-color: rgba(255, 255, 255, 0.35);
	border-color: rgba(0,0,0,0.25)
}
#footerNew .input-icon-right{
	border-color: rgba(0,0,0,0.25);
	background-color: #123274;
	color: #ffffff;
}
#footerNew .input-icon-middle{
	color: #999;
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0.25);
}
#copyrights {
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	padding-top: 10px;
	padding-bottom: 10px;
}
#footerNew .widget_links ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

#footerNew .widget_links li a{
	color: white;
}

#footerNew .widget_links li a:hover{ color: #AAA; }

#footerNew .widget h4 { color: #DDD; }

#footerNew h5 {
	color: #ddd;
    cursor: auto;
}

#footerNew .platform-icon {
   	width:130px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
}

#footerNew .icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
}
#footerNew .icon-mono {
  /*background-image:  url(../images/common/social.png);*/
  background-color: #f5f5f5;
  border-radius: 30px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

/* facebook */
#footerNew .icon-mono.facebook {
  background-position: 0 0;
}

#footerNew .icon-mono.facebook:hover {
  background-color: #3b5998;
  background-position: 0 -46px;
}

/* twitter */
#footerNew .icon-mono.twitter {
  background-position: -46px 0;
}

#footerNew .icon-mono.twitter:hover {
  background-color: #4699ff;
  background-position: -46px -46px;
}

/* google plus */
#footerNew .icon-mono.googleplus {
  background-position: -96px 0;
}

#footerNew .icon-mono.googleplus:hover {
  background-color: #d34636;
  background-position: -96px -46px;
}

/* github */
#footerNew .icon-mono.github {
  background-position: -144px 0;
}

#footerNew .icon-mono.github:hover {
  background-color: #333333;
  background-position: -144px -46px;
}

/* rss */
#footerNew .icon-mono.rss {
  background-position: -192px 0;
}

#footerNew .icon-mono.rss:hover {
  background-color: #ee802f;
  background-position: -192px -46px;
}

/* ---------- End Footer ---------- */
